# .env.example
SECRET_KEY=django-insecure-1i9@&x%l)h%(vr5lh)#7zj4du@t%6@+x(89@z6#2r9d_ta*-ij
DEBUG=True
ALLOWED_HOSTS=localhost
DB_NAME=mydatabase
DB_USER=mydatabaseuser
DB_PASSWORD=mypassword
DB_HOST=db
DB_PORT=5432
DB_ENGINE=SQLite-or-postgres
REDIS_URL=redis://redis:6379